html, body {
	margin: 0;
	padding: 0;
	//overflow:hidden;
}

body {
	text-align: center;
}

h1 {
	font-size: 24pt;
	letter-spacing: 12px;
	//border-bottom: 1px solid #ddd;
	margin: 10;
	margin-left: 10;
	font-family: serif;
}

p {
	font-size: 10pt;
	letter-spacing: 5px;
	//border-bottom: 1px solid #ddd;
	margin: 0;
	font-family: serif;
}

h2.subtitle {
	margin-top: 0px;
	margin-bottom: 40px;
}

#container {
	position: absolute;
	width:100%;
	margin: 0 auto;
	margin-top: 50px;
	//width: 700px;
	color: #555;
}

#countdown_dashboard {
	height: 110px;
	left: 50%;
	margin-left: -325px;
	position: absolute;
}

.dash {
	width: 110px;
	height: 114px;
	background: transparent url('../images/dash.png') 0 0 no-repeat;
	float: left;
	margin-left: 20px;
	position: relative;
}

.dash .digit {
	font-size: 55pt;
	font-weight: bold;
	float: left;
	width: 55px;
	text-align: center;
	font-family: Times;
	color: #555;
	position: relative;
}

.dash_title {
	position: absolute;
	display: block;
	bottom: 0px;
	right: 6px;
	font-size: 9pt;
	color: #555;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.dev_copy {
	margin: 20px;
}

.dev_comment {
	font-size: 14pt;
	color: #777;
	text-align: center;
	font-style: italic;
	font-family: serif;
	margin: 10px 10px;
	padding-top: 150px;
	padding-bottom: 30px;
}

#subscribe_form {
	display: block;
	position: relative;
	text-align: center;
} 

#email_field {
	font-size: 16pt;
	padding: 6px 10px;
	width: 300px;
}

#subscribe_button {
	font-size: 14pt;
	color: #333;
	padding: 4px 8px;
}

.copyright {
	font-size: 9pt;
	color: #333;
	margin: 40px 0px;
}

.faded {
	color: #999;
}

.form_message {
	width: 400px;
	padding: 10px;
	margin: 15px auto;
	display: none;
}

#error_message {
	background-color: #ffe;
	border-left: 5px solid #bb3;
	border-right: 5px solid #bb3;
	color: #770;
}

#info_message {
	background-color: #f0f9ff;
	border: 1px solid #eef;
}

#loading {
	text-align: center;
	margin: 10px;
	display: none;
	position: absolute;
	width: 100%;
	top: 60px;
}

#copyright{
	
	position: absolute;
	right: 34px;
	bottom: 8px;
	height: auto !important;
	width: auto !important;
}

#copyright p{
	font-size: 9px;
	font-family: Arial, "Helvetica", sans-serif;
	color:#999;
	
}

.circleBig{
    width:100px;
    height:100px;
     border-radius:300px;
    -moz-border-radius:300px;
    -webkit-border-radius:300px;
   background: #F27C15; /* old browsers */
   background: -moz-linear-gradient(top, #ff5a00 4%, #ff0900 94%); /* firefox */
   background: -webkit-gradient(linear, left top, left bottom, color-stop(4%,#ff5a00), color-stop(94%,#ff0900)); /* webkit */
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff5a00', endColorstr='#ff0900',GradientType=0 ); /* ie */
   background: -o-linear-gradient(top, #ff5a00 4%,#ff0900 94%); /* opera */
}

#count {
    text-align: center;
    font-family: 'digi';
    font-weight: bold;
    color: darkorange;
    background-color: #000;
    font-size: 120px;
    text-shadow: 0 1px 1px #999;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 4px;
}